* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container-fluid {
	width: 100%;
	margin: 0 auto;
}

.column, .row {
	width: 100%;
}


.row::before, .row::after {
    content: "";
    clear: both;
    display: table;
}

#homepage {
	background: url("https://images.pexels.com/photos/8960464/pexels-photo-8960464.jpeg?cs=srgb&dl=pexels-andrew-neel-8960464.jpg&fm=jpg");
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#logo {
	height: 75px;
	width: 30%;
	padding: 20px;
}

#menu {
	height: 75px;
	width: 70%;
	padding: 20px;
}

#gclogo {
	height: 45px;
	width: 45px;
	margin-right: 6px;
}

#nav_bar {
	border-bottom: 2px solid #55f;
	position: relative;
}

#logo > .devname {
	font-size: 1.5rem;
	text-decoration: none;
}

#menu > a {
	font-size: 1.25rem;
}

.f-bold {
	font-weight: bold;
}

#greetings {
	height: 85vh;
	width: 50%;
	text-align: justify;
}

#intro_img {
	height: 85vh;
	width: 50%;	
}

#greetings > h1 {
	padding: 100px 50px 0px;
}

.p-lr50 {
	padding-left: 50px;
	padding-right: 50px;
}

#btn_about {
	border: 1px solid #55f;
	color: white;
	padding: 10px 25px;
	margin-left: 50px;
	background-color: #55f;
	border-radius: 30px;
	text-decoration: none;
}

#intro_img > img {
	width: 300px;
	height: 300px;
	border-radius: 40px;
	margin: 100px 150px;
	border: 2px solid #55f;
	object-fit: cover;
}

footer span {
	padding-top: 10px;
	padding-left: 50px;
}

footer > div {
	border-top: 3px solid #55f;
	height: 40px;
	color: #55f;
}

#btn_about:hover {
	background-color: white;
	border: 1px solid #55f;
	color: #55f;
}

.m-t40 {
	margin-top: 40px;
}