* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	width: 100%;
}

#nav_portfolio {
	height: 60px;
	padding: 10px;
	background-color: blue;
	color: white;
}

#home {
	background: url("https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg?cs=srgb&dl=pexels-dominika-roseclay-1036808.jpg&fm=jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

#nav_portfolio a {
	text-decoration: none;
	color: white;
}

#nav_portfolio #gc {
	font-size: 1.5rem;
} 

#nav_portfolio .menu {
	font-size: 1.25rem;
}


#intro {
	width: 100%;
	height: 100vh
}
#developer {
	margin: 180px auto;
	padding: 10px;
	width: 490px;
	text-align: justify;
}

#home_img {
	width: 300px;
	height: 300px;
	border-radius: 100px;
	object-fit: cover;
	float: left;
}

header #btn_about {
	padding: 8px 15px;
	border: 2px solid blue;
	background-color: blue;
	width: 150px;
	color: white;
	border-radius: 20px;
	display: inline;
	height: 100px;
	text-decoration: none;
}

#intro > #developer .description {
	font-weight: bold;
}

#menu_nav {
	background-color: green;
	width: 30%;
	height: 100%;
}

#details {
	background-color: yellow;
	width: 70%;
	height: 100%;
}

#menu_nav, #details {
	margin: 10px 0px;
	border: 2px solid blue;
}

#menu_image {
	width: 150px;
	border-radius: 150px;
	margin: 10px auto;
	object-fit: cover;
}
