* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	width: 100%;
}

#nav_portfolio {
	height: 60px;
	padding: 10px;
	background-color: blue;
	color: white;
}

#home {
	background: url("https://images.pexels.com/photos/205316/pexels-photo-205316.png?cs=srgb&dl=pexels-mockupeditorcom-205316.jpg&fm=jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

#nav_portfolio a {
	text-decoration: none;
	color: white;
}

#nav_portfolio #gc {
	font-size: 1.5rem;
} 

#nav_portfolio .menu {
	font-size: 1.25rem;
}

#developer {
	margin: 180px auto;
	padding: 10px;
	width: 490px;
	text-align: justify;
}

header button {
	padding: 8px;
	border: 2px solid blue;
	background-color: blue;
	width: 150px;
	color: white;
	border-radius: 20px;
}

#intro > #developer .description {
	font-weight: bold;
}

#menu_nav {
	background-color: green;
	width: 40%;
	height: 100%;
}

#details {
	background-color: yellow;
	width: 60%;
	height: 100%;
}